
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --f18: 18px;
    --f22: 22px;
    --f26: 26px;
    --f30: 30px;
    --f48: 48px;
    --f50: 50px;
    --gray: #AEABAB;
    --primary-color: #3FD8BE;
    --secondary-color: #000510;

    --var-heading: 'Outfit', sans-serif;

    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;

    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Only prevent horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    font-family: var(--var-heading);
    font-weight: 600;
}

img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

/* Colors */

.white {
    color: white;
}

.colorText {
    color: #a0aec0;
}

.light-blue {
    color: #3FD8BE;
}

.gray {
    color: #AEABAB;
}

/* Headers */

h1 {
    font-size: var(--f48);
    margin: 0;
}

h3 {
    font-size: var(--f22);
    margin: 0;
}

/* Wraps */

.wrap {
	max-width:1400px;
	padding:0 10px;
	margin:0 auto;
}

.wrap-xl {
	max-width: 1600px;
	padding:0px;
	margin:0 auto;
}


/* Transform translate */

.t-t-5 {
    transform: translate(5%);
}

.t-t-10 {
    transform: translate(10%);
}

.t-t-15 {

    transform: translate(15%);
}

/* Margin */

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-l-150 {
    margin-left: 150px;
}

/* Padding */

.p-t-75 {
    padding-top: 75px;
}

.p-b-75 {
    padding-bottom: 75px;
}

/* ROWS */
.row {
	
}
.row-s {
	margin-left: -10px;
	margin-right:-10px;
}

.row:after,
.row-s:after {
	clear: both;
}

.row:before,
.row:after,
.row-s:before,
.row-s:after {
	display: table;
	content: "";
	line-height: 0;
}

/* COLS */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12,
.col1-s, .col2-s, .col3-s, .col4-s, .col5-s, .col6-s, .col7-s, .col8-s, .col9-s, .col10-s, .col11-s, .col12-s,
.col1-xs, .col2-xs, .col3-xs, .col4-s, .col5-xs, .col6-xs, .col7-xs, .col8-xs, .col9-xs, .col10-xs, .col11-xs, .col12-xs {
	float: left;
	min-height: 1px;
	padding-left: 15px;
	padding-right:15px;
	box-sizing:border-box;
}

.row-s .col1-s, .row-s .col2-s, .row-s .col3-s, .row-s .col4-s, .row-s .col5-s, .row-s .col6-s, .row-s .col7-s, .row-s .col8-s, .row-s .col9-s, .row-s .col10-s, .row-s .col11-s, .row-s .col12-s {
	padding-left:10px;
	padding-right:10px;
}

.col12 {
	width: 100%;
}

.col12-s, .col12-xs {
  width: 100%;
}

.col11 {
	width: 91.66666667%;
}

.col10 {
	width: 83.33333333%;
}

.col9 {
	width: 75%;
}

.col8 {
	width: 66.66666667%;
}

.col7 {
	width: 58.33333333%;
}

.col6 {
	width: 50%;
}

.col5 {
	width: 41.66666667%;
}
.col4 {
	width: 33.33333333%;
}

.col3 {
	width: 25%;
}

.col2 {
	width: 16.66666667%;
}

.col1 {
	width: 8.33333333%;
}

/* FLEX */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
.banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #021031), 
                url("./img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto; 
  position: relative;
}


a.hk-contact-text {
  color: inherit;
  text-decoration: none;
}

a.hk-contact-text:visited {
  color: inherit;
}

a.hk-contact-text:hover {
  text-decoration: none;
}


.banner .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 3%;
}

.banner .line {
  width: 2px;
  height: 20%;
  background-color: white;
  margin-bottom: 20px;
}

.banner .icons img {
  display: block;
}

.banner .content .title {
  margin-top: 100px;
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
}

.banner .horizontal-line {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: white;
}

.banner .content .info {
  margin-top: 75px;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

nav .menu {
  display: flex;
}

.menu ul a {
  text-decoration: none;
}

.banner .menu-logo {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

.banner .menu-small-icon {
    
    display: none;
}

.banner .menu-small-icon .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
 

  left: 3%;
}

.banner .menu-small-icon .lines {
  width: 2px;
  height: 60px;
  background-color: white;
  margin-top: 20px;
}

.banner .menu-small-icon .icons img {
  display: block;
}

nav .menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 9px;
  color: var(--gray);
  cursor: pointer;
}

nav .menu ul li {
  margin: 0 30px;
  font-size: var(--f26);
  color: white;
}
nav .menu ul li a {
 color: white;
}

nav .hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}



/* Service */

.white {
  color: white;
}

.light-blue {
  color: #3fd8be;
}

.service {
  background-color: #021031;
  padding-bottom: 75px;
  position: relative;
}

.service .titletop {
  color: white;
  font-size: var(--f48);
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 75px;
  padding-top: 75px;
}

.service .hr {
  display: flex;
  justify-content: center;
}

.service .hr hr {
  border: none;
  height: 3px;
  background-color: #3fd8be;
  width: 7%;
  position: absolute;
  top: 55px;
}

.service .card img {
  border-radius: 15px;
  height: 200px;
  width: 400px;
}

.service .card .title {
  color: white;
  font-size: var(--f26); /* Lettergrootte */
  line-height: 1.6em; /* Regelhoogte */
  font-weight: 600; /* Letterdikte */
  font-family: 'Outfit', sans-serif; /* Lettertype */
  text-decoration: underline;
  padding: 20px 0;
}

.service .card .text {
  color: var(--gray);
  line-height: 1.5;
}

.service .card .text-bottom {
  border-bottom: 2px solid hsl(215, 32%, 27%);
  padding: 20px 0;
}
.service .card {
  background-color: #14253D;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2); /* Mooie schaduw */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animatie voor hover-effect */
}

.service .card:hover {
  transform: translateY(-5px); /* Laat de kaart iets omhoog komen bij hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4), 0 6px 8px rgba(0, 0, 0, 0.3); /* Versterk de schaduw bij hover */
}
.service .card .small-image {
    width: 1.2em;
    margin-right: .5em;
}

/* .service .card .title-experience {
  color: white;
} */

.service .card .text-experience {
  color: white;
}



.projecten {
    position: relative; /* Zorgt ervoor dat het pseudo-element correct wordt geplaatst */
    background-image: none; /* Verwijder de achtergrondafbeelding van de hoofdcontainer */
}

.projecten::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #021031), 
                url("./img/updated2 1 (5).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transform: rotate(180deg) scaleY(-1); /* Draait en spiegelt de afbeelding */
    z-index: -1; /* Zorgt ervoor dat het pseudo-element achter de inhoud staat */
}

.projecten .img {
  width: 50%;

}

.projecten .info {
  width: 50%;
  margin-left: 40px;
  position: relative;
}

.projecten .content {
  display: flex;
  padding-top: 70px;
}

.projecten .projectTitle {
  font-size: var(--f48);
  justify-content: left;
  gap: 10px;
  text-align: left;
  flex-wrap: wrap;
}

.projecten .projectName {
  font-size: var(--f48);
  font-weight: 600;
  padding: 10px;
}

.recentProject {
  margin-left: 40px;
}

.projecten .hr {
  display: flex;
  width: 6%;
}

.projecten .hr hr {
  border: none;
  height: 3px;
  background-color: white;
  width: 100%;
}

.projectText {
  margin-left: 40px;
  font-size: var(--f18);
  padding-top: 20px;
}

.projecten .wrap {
    position: relative; 
}

.cross2 {
    font-size: 70px;
    margin-top: 20px;
    position: absolute; 
    top: 120px;
    right: 20px; 
}

.cross {
    font-weight: 100;
}

.cross3 {
    font-size: 30px;
    position: absolute;
    bottom: 0;
}

@media (max-width: 768px) {
  .projecten .wrap {
    padding: 30px 16px;
  }

  .projecten .content {
    flex-direction: column;
    gap: 20px;
  }

  .projecten .img {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .projecten .img img,
  .projecten .img .picture {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

  .projecten .info {
    width: 100%;
    padding: 0;
    margin-left: 0 !important;
  }

  .projecten .projectTitle h1,
  .projecten .projectName h1 {
    
    text-align: center;
  }

  .projecten .projectText {
    font-size: 1em;
    text-align: left;
    margin-left: 0 !important;
  }

  .projecten .cross2,
  .projecten .cross3 {
    display: none;
  }

  .projecten .hr hr {
    margin: 20px auto;
    width: 60%;
  }
}



@media (max-width: 768px) {
  .projecten .projectTitle,
  .projecten .projectName,
  .projecten .recentProject {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .service .wrap {
    
  }
  .service .row {
    flex-direction: column;
    gap: 30px;
  }
  .service .col4 {
    width: 100%;
   
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
  }
  .service .card {
    width: 100%;
    min-width: 0;
    
    box-sizing: border-box;
  }
  .service .card img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    
  }
  .service .card .title {
    font-size: 1.3em;
    text-align: center;
  }
  .service .card .text {
    font-size: 1em;
    text-align: left;
  }
  .service .flex.space-between.text-bottom {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .service .title-experience,
  .service .text-experience {
    font-size: 1em;
  }
}